<div class="contents-title text-center">
  <h3>Ruby/Rails 動画</h3>
  <%= search_form_for @q do |f| %>
    <%= f.label :title_cont, "タイトル" %>
    <%= f.search_field :title_cont %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<hr>
<%= render 'movies/movie', movie: @movie %>
<%= paginate @movies %>
